{
  "openapi": "3.1.0",
  "info": {
    "title": "EIDOS spec-api",
    "version": "0.0.1",
    "description": "External programmatic surface for EIDOS specifications and node templates. Authenticate with a Supabase user JWT or an `ek_` API key (see the security schemes). Public specifications and global templates are readable anonymously."
  },
  "servers": [
    {
      "url": "https://api.eidosxr.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Supabase user access token (HS256 JWT). Grants the full set of permissions for the authenticated user."
      },
      "apiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Oceanum API key, sent as `Authorization: Bearer ek_...`. Access is gated by the scopes attached to the key:\n- `spec:read` — read specifications\n- `spec:write` — create and patch specifications\n- `spec:delete` — delete specifications\n\nA key may additionally be *spec-scoped* (bound to a single specification id); such keys are rejected with 403 on any other spec."
      }
    },
    "schemas": {
      "SpecificationList": {
        "type": "object",
        "properties": {
          "specifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SpecificationSummary"
            }
          },
          "total": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        },
        "required": [
          "specifications",
          "total",
          "limit",
          "offset"
        ]
      },
      "SpecificationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_public": {
            "type": "boolean"
          },
          "template": {
            "type": "boolean"
          },
          "created_by_user_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "account_id",
          "is_public",
          "template",
          "created_by_user_id",
          "created_at",
          "updated_at"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "example": "not_found"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "Specification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "is_public": {
            "type": "boolean"
          },
          "spec": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "version": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "account_id",
          "is_public",
          "spec",
          "created_at",
          "updated_at",
          "version"
        ]
      },
      "CreateSpecificationRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "My World"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "account_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "spec": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "name"
        ]
      },
      "SpecificationPatchResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "spec": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          },
          "version": {
            "type": "integer"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "spec",
          "version",
          "updated_at"
        ]
      },
      "InvalidPatch": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "invalid_patch"
            ]
          },
          "details": {
            "type": "array",
            "items": {}
          }
        },
        "required": [
          "error",
          "details"
        ]
      },
      "PreconditionFailed": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "enum": [
              "precondition_failed"
            ]
          },
          "current_version": {
            "type": "integer",
            "example": 10
          }
        },
        "required": [
          "error",
          "current_version"
        ]
      },
      "JsonPatch": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/JsonPatchOperation"
        },
        "example": [
          {
            "op": "add",
            "path": "/root/title",
            "value": "Hello World"
          }
        ]
      },
      "JsonPatchOperation": {
        "type": "object",
        "properties": {
          "op": {
            "type": "string",
            "enum": [
              "add",
              "remove",
              "replace",
              "move",
              "copy",
              "test"
            ]
          },
          "path": {
            "type": "string",
            "example": "/root/title"
          },
          "value": {},
          "from": {
            "type": "string"
          }
        },
        "required": [
          "op",
          "path"
        ]
      },
      "Template": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "basic",
              "advanced",
              "custom"
            ]
          },
          "node_type": {
            "type": "string"
          },
          "icon": {
            "type": [
              "string",
              "null"
            ]
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "org",
              "all"
            ]
          },
          "account_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_by_user_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "spec_json": {
            "type": "object",
            "additionalProperties": {}
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "category",
          "node_type",
          "icon",
          "scope",
          "account_id",
          "created_by_user_id",
          "spec_json",
          "created_at",
          "updated_at"
        ]
      },
      "CreateTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "example": "Bar Chart"
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "basic",
              "advanced",
              "custom"
            ]
          },
          "node_type": {
            "type": "string",
            "example": "plot"
          },
          "icon": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "org"
            ]
          },
          "account_id": {
            "type": "string"
          },
          "spec_json": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "node_type",
          "spec_json"
        ]
      },
      "TemplateFromNodeRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "enum": [
              "basic",
              "advanced",
              "custom"
            ]
          },
          "icon": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "user",
              "org"
            ]
          },
          "account_id": {
            "type": "string"
          },
          "node_type": {
            "type": "string",
            "example": "plot"
          },
          "node_data": {
            "type": "object",
            "additionalProperties": {},
            "description": "Live node config; its `id` is stripped."
          }
        },
        "required": [
          "name",
          "node_type",
          "node_data"
        ]
      },
      "PatchTemplateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {}
  },
  "paths": {
    "/specifications": {
      "get": {
        "tags": [
          "Specifications"
        ],
        "summary": "List accessible specifications",
        "description": "Returns the caller’s own specifications plus all public ones. Anonymous callers see only public specifications.",
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "description": "Page size (max 100)."
            },
            "required": false,
            "description": "Page size (max 100).",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0,
              "description": "Row offset for pagination."
            },
            "required": false,
            "description": "Row offset for pagination.",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of specification summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecificationList"
                }
              }
            }
          },
          "500": {
            "description": "Database error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Specifications"
        ],
        "summary": "Create a specification",
        "description": "Requires the `spec:write` scope for API-key callers.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpecificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Specification"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON or missing `name`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Account specification quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Scope `spec:write` required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Database error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/specifications/{id}": {
      "get": {
        "tags": [
          "Specifications"
        ],
        "summary": "Get a specification",
        "description": "Public specifications are readable anonymously. Private ones require the owner’s credentials. Responds with an `ETag` = current version.",
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "aaaaaaaa-0000-0000-0000-000000000001"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The specification document.",
            "headers": {
              "ETag": {
                "description": "Opaque optimistic-concurrency validator; equals the current spec version. Echo it back in `If-Match` on the next PATCH.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Specification"
                }
              }
            }
          },
          "401": {
            "description": "Private specification and no credentials supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Authenticated but not permitted to read this spec.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Specifications"
        ],
        "summary": "Patch a specification (RFC 6902 JSON Patch)",
        "description": "Applies a JSON Patch to the spec document and stores it as a Yjs update. Supports optimistic concurrency via `If-Match`: a stale version yields 412; a patch that cannot be applied yields 409. Requires the `spec:write` scope for API-key callers.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "aaaaaaaa-0000-0000-0000-000000000001"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Optimistic-concurrency guard. When present, the request is rejected with 412 unless it equals the current spec version.",
              "example": "\"5\""
            },
            "required": false,
            "description": "Optimistic-concurrency guard. When present, the request is rejected with 412 unless it equals the current spec version.",
            "name": "If-Match",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patched spec with its new version.",
            "headers": {
              "ETag": {
                "description": "Opaque optimistic-concurrency validator; equals the current spec version. Echo it back in `If-Match` on the next PATCH.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecificationPatchResult"
                }
              }
            }
          },
          "400": {
            "description": "Malformed JSON, non-array body (`invalid_json`), or a patch that fails validation (`invalid_patch`, with `details`).",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidPatch"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Scope/ownership check failed, or spec-key mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Patch could not be applied (`patch_conflict`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "412": {
            "description": "`If-Match` version is stale (`precondition_failed`).",
            "headers": {
              "ETag": {
                "description": "Opaque optimistic-concurrency validator; equals the current spec version. Echo it back in `If-Match` on the next PATCH.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailed"
                }
              }
            }
          },
          "500": {
            "description": "Database error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Specifications"
        ],
        "summary": "Delete a specification",
        "description": "Requires the `spec:delete` scope for API-key callers.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "aaaaaaaa-0000-0000-0000-000000000001"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Scope/ownership check failed, or spec-key mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Database error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates": {
      "get": {
        "tags": [
          "Templates"
        ],
        "summary": "List templates",
        "description": "Anonymous callers see only global (`all`-scoped) templates; this route is deliberately reachable without authentication. Authenticated callers also see their own; `?owned=true` returns templates they administer.",
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Filter to a single node type.",
              "example": "plot"
            },
            "required": false,
            "description": "Filter to a single node type.",
            "name": "node_type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "description": "When `true`, returns templates the caller owns or administers (requires authentication)."
            },
            "required": false,
            "description": "When `true`, returns templates the caller owns or administers (requires authentication).",
            "name": "owned",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Matching templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid `node_type` or user id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "`owned=true` requires authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Fetch failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a template",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (missing/invalid fields).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Create failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/from-node": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Create a template from a node config",
        "description": "Convenience wrapper over `POST /templates` that strips the node’s runtime `id` and stores `node_data` as `spec_json`.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateFromNodeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed (missing/invalid fields).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Create failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}": {
      "patch": {
        "tags": [
          "Templates"
        ],
        "summary": "Rename / edit a template",
        "description": "Updates the mutable fields (`name`, `description`). Scope, ownership and `spec_json` are immutable here. Global templates cannot be edited.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "eeeeeeee-0000-0000-0000-000000000001"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "No fields, empty name, or invalid id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted, or a global template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Patch failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Templates"
        ],
        "summary": "Delete a template",
        "description": "Only the creator (user-scoped) or an org admin may delete.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "eeeeeeee-0000-0000-0000-000000000001"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "400": {
            "description": "Invalid id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted, or a global template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Delete failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/templates/{id}/archive": {
      "post": {
        "tags": [
          "Templates"
        ],
        "summary": "Archive (soft-delete) a template",
        "description": "Sets `archived_at`; the row is hidden from listings but retained. Same ownership rules as delete.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "eeeeeeee-0000-0000-0000-000000000001"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Archived."
          },
          "400": {
            "description": "Invalid id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not permitted, or a global template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No such template.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Archive failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "Meta"
        ],
        "summary": "This OpenAPI 3.1 document",
        "security": [],
        "responses": {
          "200": {
            "description": "The generated OpenAPI 3.1 specification.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}